// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)
$primary: #407a5f;
$secondary: #947533;
$dark: #343a40;
$black: #b6ac97;
$font-family-sans-serif: "Motserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

// Then add additional custom code here